body {
    color: #999;
}

#subscription-toggle {
    display: none;
}

#bbpress-forums {
    background: url(../../uploads/2017/12/dark_wall.jpg);
}

#bbpress-forums * {
    font-weight: bold;
}

#bbpress-forums a {
    color: #25c2f5;
    text-decoration: none;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

body .bbp-pagination-links span.current, body .bbp-pagination-links span.current, .page-numbers {
    border: 1px solid #25c2f5;
}

body .bbp-pagination-links span.current, .page-numbers.current {
    background-color: #25c2f5;
}

#bbpress-forums fieldset.bbp-form legend {
    background-color: #1d1d1d;
    border: 1px solid #000;
    background-image: -webkit-linear-gradient(bottom, #1a1b1f, #212528);
    background-image: -moz-linear-gradient(bottom, #1a1b1f, #212528);
    background-image: -o-linear-gradient(bottom, #1a1b1f, #212528);
    background-image: linear-gradient(to top, #1a1b1f, #212528);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
}

#bbpress-forums fieldset.bbp-form legend {
    margin-bottom: 10px;
}

#bbpress-forums fieldset.bbp-form legend {
    line-height: 20px;
    padding: 15px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    color: #25c2f5;
}

.bbp-form {
    background: #212528;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    border: 1px solid #000 !important;
    padding: 20px !important;
    z-index: 0;
    margin-top: 0;
    color: #ccc;
}

.bbp-topic-form {
    width: 90%;
    margin: auto;
}

#bbpress-forums a:hover {
    color: gray;
    text-decoration: none;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    font-weight: bold;
}

#bbpress-forums ul.bbp-forums {
    margin: 0;
}

#bbpress-forums div.bbp-breadcrumb {
    padding: 15px;
    background: repeating-linear-gradient(135deg, transparent, transparent 2px, black 2px, black 3px);
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    background-color: #1d1d1d;
    width: 100%;
}

#bbpress-forums div.bbp-breadcrumb p {
    margin: 0;
    font-size: 15px;
}

#bbpress-forums li.bbp-header {
    background-color: #1d1d1d;
    border: 1px solid #000;
    background-image: -webkit-linear-gradient(bottom, #1a1b1f, #212528);
    background-image: -moz-linear-gradient(bottom, #1a1b1f, #212528);
    background-image: -o-linear-gradient(bottom, #1a1b1f, #212528);
    background-image: linear-gradient(to top, #1a1b1f, #212528);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    padding: 15px;
}

#bbpress-forums li.bbp-header ul li {
    text-transform: uppercase;
}

#bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-replies {
    border: none !important;
}

#bbpress-forums #bbp-search-form #bbp_search {
    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
    transition: linear .3s;
    outline: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #181b1e;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, .1), inset 0 1px 2px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 1px rgba(255, 255, 255, .1), inset 0 1px 2px rgba(0, 0, 0, .6);
    box-shadow: 0 1px rgba(255, 255, 255, .1), inset 0 1px 2px rgba(0, 0, 0, .6);
    border: 1px solid rgba(0, 0, 0, .9);
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
}

#bbpress-forums button:hover, input[type="submit"]:hover {
    box-shadow: 1px 1px 8px rgba(9, 106, 161, 0.7);
}

#bbpress-forums button, #bbpress-forums input[type="button"], #bbpress-forums input[type="reset"], #bbpress-forums input[type="submit"] {
    font-size: 12px;
    padding: 11px 20px !important;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
    margin-top: 5px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    border: 1px solid #000;
    overflow: hidden;
    background-color: #25c2f5;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 1px 1px #05c7f7;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 1px 1px #05c7f7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 1px 1px #05c7f7;
    background-image: -webkit-linear-gradient(bottom, #096aa1, #26c3f6);
    background-image: -moz-linear-gradient(bottom, #096aa1, #26c3f6);
    background-image: -o-linear-gradient(bottom, #096aa1, #26c3f6);
    background-image: linear-gradient(to top, #096aa1, #26c3f6);
}

#bbpress-forums li.bbp-body ul.forum:before, #bbpress-forums li.bbp-body ul.topic:before {
    font-family: FontAwesome;
    content: "\f0e6";
    font-size: 2em;
    position: absolute;
    left: 28px;
}

#bbpress-forums li.bbp-forum-info, li.bbp-topic-title {
    padding-left: 15px;
}

#bbpress-forums li.bbp-forum-info a, #bbpress-forums li.bbp-topic-title a {
    font-size: 14px;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    border-top: 1px solid #000;
    overflow: hidden;
    padding: 20px 15px 15px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background-color: #1a1d1f;
    padding-left: 35px;
}

#bbpress-forums li.bbp-body ul.forum:nth-child(2n), #bbpress-forums li.bbp-body ul.topic:nth-child(2n) {
    background-color: #212528;
}

#bbpress-forums .bbp-forums-list {
    margin: 0;
    padding-left: 0;
    border-left: none;
}

#bbpress-forums .bbp-forums-list li {
    font-size: 11px;
    width: 49%;
    margin-right: 1%;
    display: inline-block;
    background: rgba(0, 0, 0, .2);
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #000;
}

#bbpress-forums .bbp-forums-list li a {
    font-size: 11px;
}

li.bbp-forum-freshness a, li.bbp-topic-freshness a {
    font-size: 10px;
    color: #999 !important;
}

#bbpress-forums p.bbp-topic-meta span a {
    color: #ccc !important;
}

#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar {
    float: none;
    margin: 0;
    border: none;
    max-width: 100%;
    height: auto;
    width: 30px;
}

div.bbp-template-notice.info {
    border: 1px solid #000;
    background-color: #1A1D1F;
    border-radius: 0px;
}

#bbpress-forums div.bbp-the-content-wrapper input {
    padding: 5px !important;
}

div.bbp-template-notice, div.indicator-hint {
    background: rgba(5, 199, 247, 0.1);
}

div.bbp-template-notice {
    border: 1px solid #25c2f5;
}

.bbp-pagination-count {
    float: left;
    border: 1px solid transparent;
    font-size: 10px;
    color: #666;
}

.bbp-pagination {
    margin-bottom: 0px;
}

#bbpress-forums input[type="text"], #bbpress-forums input[type="text"]:focus, #bbpress-forums .wp-editor-container textarea.wp-editor-area, #bbpress-forums fieldset.bbp-form select {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #181b1e;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, .1), inset 0 1px 2px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 1px rgba(255, 255, 255, .1), inset 0 1px 2px rgba(0, 0, 0, .6);
    box-shadow: 0 1px rgba(255, 255, 255, .1), inset 0 1px 2px rgba(0, 0, 0, .6);
    border: 1px solid rgba(0, 0, 0, .9);
    padding: 10px;
    font-size: 12px;
}

#bbpress-forums .quicktags-toolbar {
    border: 1px solid #000;
    border-bottom: 0;
    background: #181B1E;
}

#bbpress-forums .wp-core-ui .button {
    color: white;
    background: #1A1A1A;
    border: 1px solid #000;
    box-shadow: none;
}

#bbpress-forums div.wp-editor-container {
    border: none;
}

#bbpress-forums li.bbp-header .bbp-reply-content #subscription-toggle {
    display: block;
}

#bbpress-forums li.bbp-header .bbp-reply-author, #bbpress-forums li.bbp-header .bbp-reply-content *, #bbpress-forums li.bbp-header .bbp-reply-content {
    text-transform: uppercase;
}

#bbpress-forums div.odd, #bbpress-forums ul.odd, #bbpress-forums div.reply {
    background-color: #1a1d1f;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer, #bbpress-forums div.bbp-reply-header {
    background-color: #1d1d1d;
    border: 1px solid #000;
    background-image: -webkit-linear-gradient(bottom, #1a1b1f, #212528);
    background-image: -moz-linear-gradient(bottom, #1a1b1f, #212528);
    background-image: -o-linear-gradient(bottom, #1a1b1f, #212528);
    background-image: linear-gradient(to top, #1a1b1f, #212528);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
}